.calendarWrapper{
    display: flex;
    background-color: rgb(240, 239, 199);
    border-Radius: 50px;
    box-Shadow: 0 0 15px;
    padding: 20px;
    max-width: fit-content;
}

.calendar__container{
    background-color: rgb(240, 239, 199);
    height: fit-content;
    width: 350px;
}