.applications__container{
    height: fit-content;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 60px;
}

.applications__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 2rem;
    flex-direction: row;
}

.app__title {
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}

.app__number {
    padding-top: 20px;
    font-size: 30px;
}

.applications__amount {
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 15px;
    background-color: #f2f2f2;
}

.applications__responses{
    align-items: center;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 15px;
    background-color: #F2F2F2;
}

.tamagatchi {
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-top: 20px;
    padding: 20px;
    transform: translateY(-10%);
    border-radius: 50px;
    box-shadow: 0 0 15px;
    background-color: #F2F2F2;
}