.applications__container{
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border-radius: 60px;
}

.applications__responses { grid-area: res; }
.applications__container { grid-area: apps; }
.tamagatchi { grid-area: tama; }

.applications__wrapper {
    display: grid;
    grid-template-areas:
    'res res apps apps'
    '. tama tama .' ;
    width: 100%;
    height: 100%;
    gap: 2rem;
    flex-direction: row;
}

.app__title {
    border-bottom: 1px solid black;
}

.app__number {
    font-size: 20px;
    text-align: center;
}

.applications__amount {
    align-items: center;
    height: fit-content;
    width: 200px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
    box-shadow: 0 0 15px;
    background-color: rgb(240, 239, 199);
}

.applications__responses{
    align-items: center;
    height: fit-content;
    width: 200px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50px;
    box-shadow: 0 0 15px;
    background-color: rgb(240, 239, 199);
}

.tamagatchi {
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-top: 20px;
    padding: 20px;
    transform: translateY(-10%);
    border-radius: 50px;
    box-shadow: 0 0 15px;
    background-color: rgb(240, 239, 199);
}

.dino__img{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../Img/Dino.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

  /* ========================================= Media Query MEDIUM ========================================== */

  @media screen and (max-width: 1024px) {

    .applications__amount { grid-area: amnt; }
    .applications__responses { grid-area: res; }
    .tamagatchi { grid-area: toma; }

    .applications__wrapper{
        display: grid;
        grid-template-areas: 
        'toma toma toma'
        'amnt res res';
    }

    .tamagatchi{
        margin-left: auto;
        margin-right: auto;
    }
  }
  