.applications__container{
    position: absolute;
    margin-left: 15%;
    height: 50vh;
    width: 50vw;
}

.applications__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 2rem;
    flex-direction: row;
}

.app__title {
    border-bottom: 1px solid black;
}

.app__number {
    position: absolute;
    font-size: 50px;
}

.applications__amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: 30%;
    border-radius: 50px;
    box-shadow: 0 0 15px;
    background-color: #F2F2F2;
}

.applications__responses{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: 30%;
    border-radius: 50px;
    box-shadow: 0 0 15px;
    background-color: #F2F2F2;
}

.tamagatchi {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 50%;
    transform: translateY(-10%);
    border-radius: 50px;
    box-shadow: 0 0 15px;
    background-color: #F2F2F2;
}