.kanban__container {
    position: relative;
    background-color: #ffffff;
    max-width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    max-height: 500px;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px;
    overflow: scroll;
    /* z-index: 99; */
}

.kanban__wrapper {
    display: flex;
    height: 350px;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.kanban__title {
    text-align: center;
}

.kanban__wrapper h1 {
   /* margin-left: 38%; */
   border-bottom: 3px solid black;
   width: fit-content;
}

.kanban-inside__containers {
    text-align: center;
    height: fit-content;
    padding-bottom: 100px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 25px;
    margin: 10px;
    min-width: 200px;
}

.kanban-listitem__draggable.dragging {
    opacity: 0.5;
}

.kanban-listitem__draggable{
    cursor: pointer;
    border-radius: 40px;
    border: 1px solid gray;
    width: fit-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.kanban-listitem__draggable:hover {
    background-color: lightgray;
}

.task__status{
    text-align: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

  /* ========================================= Media Query MEDIUM ========================================== */

  @media screen and (max-width: 1024px) {

    .kanban__wrapper {
        display: block;
    }

    .kanban-inside__containers {
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
  }