.resources__page{
    width: fit-content;
    height: 1100px;
    margin-left: 250px;
    text-align: center;
}

.resources__container{
    width: fit-content;
    height: 800px;
    overflow-y: scroll;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 10px;
}

.create__material{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 250px;
}

.material__form{
    background-color: var(--white);
    padding: 30px;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: 2px -2px 2px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 2px -2px 2px 0px rgba(0,0,0,0.65);
    box-shadow: 2px -2px 2px 0px rgba(0,0,0,0.65);
}

.Mlabel{
    text-align: center;
}

.Minput{
    margin-left: auto;
    margin-right: auto;
}

.each__resource{
    background-color: beige;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    height: 420px;
    overflow-y: scroll;
}

.resource__title{
    font-size: 40px;
    color: white;
}

.btn__edit{
    margin-top: auto;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: yellow;
}

.btn__save{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
    color: aliceblue;
}

.btn__delete{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: red;
    color: aliceblue;
    font-weight: bold;
}

.post__comment{
    border-radius: 20px;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #0c91fd;
    color: white;
    margin-left: 30px;
    margin-bottom: 10px;
}

.comment__box{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}

.comments__box{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    height: 300px;
    overflow-y: scroll;
}

.materials__Pcontainer{
    background-color: rgba(6, 3, 3, 0.728);
    max-width: fit-content;
    height: fit-content;
    padding-bottom: 10px;
    border-radius: 20px;
    border: 1px solid white;
}

.comment__author{
    background-color: rgb(115, 157, 248);
    width: fit-content;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.material__title{
    color: white;
}