.profile__layout{
  max-width: fit-content;
  margin-left: 180px;
  margin-top: 5px;
  max-height: 1000px;
  overflow-y: scroll;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 50px;
  
}

.KB { grid-area: kanban; }
.CLN { grid-area: calendar; }
.TD { grid-area: todo; }
.dash__apps { grid-area: apps; }
.profile-page__container {
  background-color: white;
  border: 1px solid black;
  border-radius: 100px;
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  grid-template-areas: 
  'apps todo todo'
  'kanban kanban calendar';
  align-items: center;
  z-index: 99;
  justify-content: center;
  overflow-y: scroll;
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  width: fit-content;
  }

  /* .sidebar__block{
    height: 100px;
    width: 100px;
    margin-right: auto;
    background-color: black;
    border: 2px solid red;
  } */

  .sidebar__container {
    position: fixed;
    z-index: 99;
    top: 79px;
    left: 8px;
    width: fit-content;
    height: fit-content;
    padding-top: 20px;
    border: 1px solid black;
    border-top: none;
    background-color: #F2F2F2;
    padding-right: 20px;
  }

  .logo__sidebar{
    background-image: url('../Img/ThriverSidebarArt.jpg');
    background-size: cover;
    width: 200px;
    height: 200px;
  }

  .nav-list__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .titles {
    margin-right: auto;
    margin-left: 10%;
    margin-top: 3rem;
    font-size: larger;
  }

  .basic__wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .tools__wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .other__wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .nav-list__container> * {
    list-style-type: none;
  }

.KB{
  max-height: fit-content;
  min-width: fit-content;
  margin-left: 20px;
}

.TD{
  min-width: fit-content;
  min-height: fit-content;
  padding-top: 30px;
  padding-left: 150px;
}

.CLN{
  min-width: fit-content;
  min-height: fit-content;
  padding: 40px;
}

.dash__apps{
  min-width: fit-content;
  min-height: fit-content;
  padding: 40px;
  padding-left: 140px;
}


  /* ========================================= Media Query MEDIUM ========================================== */

  @media screen and (max-width: 1024px) {
    .profile-page__container {
      display: grid;
      grid-template-areas: 
      'apps'
      'kanban'
      'todo'
      'calendar';
      margin-left: 50px;
    }

    .profile__layout{
      margin-left: auto;
      margin-right: auto;
      width: 800px;
      background-color: transparent;
      max-height:1000px;
      padding-bottom: 100px;
    }

    .TD{
      padding-left: 0;
      margin-bottom: 10px;
    }

    .CLN{
      padding: 0;
    }

    .KB{
      margin-top: 20px;
      margin-bottom: 20px; 
    }

    .dash__apps{
      padding: 10px;
      margin-left: 0px;
    }

    .sidebar__container {
      border-radius: 20px;
    }
  
  }
  
  /* =========================================== Media Query SMALL ============================================ */
  
  @media screen and (max-width: 600px) {
    .profile-page__container {
      display: grid;
      grid-template-areas: 
      'todo'
      'apps'
      'kanban'
      'calendar';
    }

    .profile__layout{
      background-color: var(--TealBlue);
      max-width: fit-content;
      margin-left: 165px;
      max-height: 800px;
      overflow-y: scroll;
      border-radius: 5px;
      padding-bottom: 100px;
      padding-right: 50px;
    }

    /* .TD{
      padding-left: 0;
      margin-bottom: 10px;
    }

    .CLN{
      padding;
    }

    .KB{
      margin-top: 20px;
      margin-bottom: 20px;
      
    }

    .dash__apps{
      padding: 10px;
      margin-left: 40px;
    }
   */
  }
