.profile__layout{
  background-color: var(--TealBlue);
  min-width: fit-content;
  margin-left: 165px;
  max-height: 800px;
  overflow-y: scroll;
  border-radius: 5px;
  padding-bottom: 100px;
  padding: 20px;
}

.KB { grid-area: kanban; }
.CLN { grid-area: calendar; }
.TD { grid-area: todo; }
.dash__apps { grid-area: apps; }
.profile-page__container {
    display: grid;
    grid-template-areas: 
    'apps todo todo'
    'kanban kanban calendar';
    align-items: center;
    z-index: 99;
    justify-content: center;
    overflow-y: scroll;
    margin-bottom: 100px;
  }

  .sidebar__container {
    position: absolute;
    z-index: 99;
    top: 82px;
    left: 8px;
    min-height: fit-content;
    padding-bottom: 300px;
    min-width: fit-content;
    border: 1px solid black;
    border-top: none;
    background-color: #F2F2F2;
    padding-right: 20px;
  }

  .nav-list__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .titles {
    margin-right: auto;
    margin-left: 10%;
    margin-top: 3rem;
    font-size: larger;
  }

  .basic__wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .tools__wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .other__wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .nav-list__container> * {
    list-style-type: none;
  }

.KB{
  max-height: fit-content;
  min-width: fit-content;
  margin-left: 20px;
}

.TD{
  min-width: fit-content;
  min-height: fit-content;
  padding-top: 30px;
  padding-left: 150px;
}

.CLN{
  min-width: fit-content;
  min-height: fit-content;
  padding: 40px;
}

.dash__apps{
  min-width: fit-content;
  min-height: fit-content;
  padding: 40px;
  padding-left: 140px;
}


/* .profile__titleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.profile__title {
  font-size: 28px;
  font-weight: bold;
}
.profile__avatarContainer {
  margin-bottom: -70px;
  z-index: 1;
}
.profile__avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}
.profile__details {
  background-color: hsl(0, 0%, 95%);
  border-radius: 10px;
  border: 2px solid black;
  padding: 20px;
  margin-bottom: 50px;
  text-align: center;
}
.profile__details h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.profile__details pre {
  font-size: 16px;
  font-style: italic;
  white-space: pre-wrap;
  word-wrap: break-word;
} */



  /* ========================================= Media Query MEDIUM ========================================== */

  @media screen and (max-width: 1024px) {
    .profile-page__container {
      display: grid;
      grid-template-areas: 
      'apps apps apps'
      'kanban kanban kanban'
      'todo calendar calendar';
    }

    .profile__layout{
      background-color: var(--TealBlue);
      max-width: fit-content;
      margin-left: 165px;
      max-height: 800px;
      overflow-y: scroll;
      border-radius: 5px;
      padding-bottom: 100px;
      padding-right: 50px;
    }

    .TD{
      padding-left: 0;
      margin-bottom: 10px;
    }

    .CLN{
      padding: 0;
    }

    .KB{
      margin-top: 20px;
      margin-bottom: 20px;
      
    }

    .dash__apps{
      padding: 10px;
      margin-left: 40px;
    }
  
  }
  
  /* =========================================== Media Query SMALL ============================================ */
  
  @media screen and (max-width: 600px) {
  
  }
