@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600&display=swap");

/* Theme */

:root {
  --white: #fff;
  --black: #000000;
  --BlueViolet: #5E5DFD;
  --TealBlue: #5AE6DE;
  --ReddishOrange:  #FF7860;
  --YellowOrange: #FFC618;

  --font-primary: "Inter", sans-serif;
  --font-secondary: "Space Grotesk", sans-serif;
  --font-mono: "Fira Code", monospace;
}