.todo-list__container {
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
}

.todo__innards{
    padding: 20px;
    overflow-y: scroll;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    align-items: center;
    background-color: rgb(240, 239, 199);
    max-height: 300px;
    min-width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 0 10px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.top__bar {
    display: flex;
    width: 100%;
    background-color: rgb(240, 239, 199);
    border-bottom: 1px solid black;
}

.task__btns {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    margin-right: 2rem;
}

.add__btn {
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: black;
    font-size: 40px;
}

.kanban {
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: black;
    font-size: 20px;
}

.unordered__list {
    width: 100%;
}

.list__items {
    gap: 0.2rem;
    width: fit-content;
    list-style: none;
    width: 100%;
    cursor: pointer;
    transition: ease-in-out 250ms;
}
.list__items>:nth-child(1) {
    width: 50%;
   }

.list__items>:nth-child(2) {
 margin-left: 90%;
 position: relative;
}

.list__item {
    margin-left: 1rem;
}

.list__items:hover {

    background-color: rgb(170, 205, 234);
}

