.FlyingDino__img{
  width: 400px;
  height: 400px;
  background-image: url('../Img/Trex.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-top: auto;
  margin-bottom: 10px;
}

.user__page{
  background-image: url('../Img/fly.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: top right;
  margin-bottom: 20px;
  margin-right: 80px;
  z-index: 0;
}

.User-page__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(75, 249, 243, 0.85);
  width: 500px;
  height: 80vh;
  border-radius: 10px;
  border: 1px solid black;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}
.User__titleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  word-wrap: break-word;
  max-width:400px ;
}
.User__title {
  font-size: 28px;
  font-weight: bold;
  background-color: aliceblue;
  border: 1px solid black;
  word-wrap: break-word;
  max-width: 400px;
  padding: 10px;
  border-radius: 20px;
}

.update__username{
  border-radius: 20px;
  background-color: orange;
  color: rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
}

.username__input{
  border-radius: 10px;
  padding-left: 10px;
}

.User__avatarContainer {
  margin-bottom: 30px;
}
.User__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid white;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}